* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
    display: flex;
}
aside {
    padding: 20px 31px 44px 25px;
    width: 194px;
    height: 100%;
    .logo {
        display: inherit;
        margin: 0 auto 0 auto;
        margin-bottom: 32px;
    }
    .btns {
        height: 392px;
        margin-bottom: 45px;
        display: flex;
        flex-direction: column;
        gap: 31px;

        .btn-boxs {
            max-width: 144px;
            height: 40px;
            padding: 10px 0px;
            display: flex;
            align-items: center;
            border-radius: 8px;
            background-color: rgb(255, 255, 255);
            box-shadow: 0px 4px 10px 0px rgba(175, 137, 255, 0.15);
            font-family: 'Poppins', sans-serif;
            .image-div{
                width: 51px;
                padding-left: 11px;
                display: flex;
                align-items: center;
            }
        }
    }
    .support {
        height: 166px;
        display: flex;
        flex-direction: column;
        gap: 13px;
        margin-bottom: 50px;

        b{
            font-size: 14px;
            font-family: 'Poppins', sans-serif;
        }
        p{
            font-size: 12px;
            font-weight: 400;
            line-height: 16px;
            color: rgba(191, 191, 191, 1);
            font-family: 'Poppins', sans-serif;
        }
        button{
            width: 128px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 6px;
            font-size: 12px;
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
            border-radius: 8px;
            background: rgba(195, 223, 250, 1);
            border: none;
        }
    }
    .policy {
        color: rgba(191, 191, 191, 1);
        font-size: 12px;
        font-family: 'Poppins', sans-serif;
    }
}
main {
    width: 80%;
    height: 100%;
    padding: 28px 28px 39px 28px;
    // background: rgba(248, 247, 252, 1);
    background-color: gray;

    header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 32px;

        .total{
            p{
                font-family: 'Poppins', sans-serif;
                font-size: 16px;
            }
            div{
                display: flex;
                align-items: center;
                gap: 13px;

                b{
                    font-family: 'Poppins', sans-serif;
                    font-size: 28px;
                }
                span{
                    display: flex;
                    gap: 5px;
                    font-family: 'Poppins', sans-serif;
                    font-size: 15px;
                    color: rgba(255, 69, 136, 1);
                        &:last-child{
                            color: rgba(25, 195, 50, 1);
                        }
                    }
                
                


            }
        }
        .search{
            display: flex;
            align-items: center;
            gap: 12px;
            background-color: white;
            width: 395px;
            height: 40px;
            border-radius: 10px;
            padding: 12px 17px;
            box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1) inset;

            input{
                width: 100%;
                outline: none;
                border: none;
                font-size: 18px;
                &::placeholder{
                    color: rgba(210, 210, 210, 1);
                }
            }
            
        }
        .profile{
            display: flex;
            align-items: center;
            gap: 50px;
        }
    }
    section {
        display: flex;
        flex-direction: column;
        gap: 28px;
        .top {
            display: flex;
            gap: 28px;
            height: 120px;

            div {
                width: 100%;
                height: 100%;
                border-radius: 15px;
                padding: 21px 28px 0 28px;
                color: #fff;
                position: relative;
                p{
                    font-family: 'Poppins', sans-serif;
                    font-size: 18px;
                    font-weight: 700;
                }
                span{
                    position: absolute;
                    top: 25px;
                    right: 28px;
                    font-family: 'Poppins', sans-serif;
                    font-size: 60px;
                    font-weight: 600;
                }
                &:nth-child(1) {
                    background: linear-gradient(98.86deg, #6BAAFC 0%, #305FEC 100%);
                }
                &:nth-child(2) {
                    background: linear-gradient(98.86deg, #EF5E7A 0%, #D35385 100%);
                }
                &:nth-child(3) {
                    background: linear-gradient(98.86deg, #D623FE 0%, #A530F2 100%);
                }
                img{
                    position: absolute;
                    left: 0;
                    bottom: -6px;
                }
            }
        }
        .info {
            width: 100%;
            height: 100%;
            display: flex;
            gap: 28px;
            

            .left {
                width: 60%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .inbox{
                    background-color: white;
                    border-radius: 15px;
                    height: 153px;
                    .inbox-title{
                        padding: 16px 29px 12px 29px;
                        height: 62px;
                      .details{
                         display: flex;
                          justify-content: space-between;
                            span:first-child{
                                font-size: 18px;
                                font-weight: 700;
                                font-family: 'Poppins', sans-serif;
                            }
                            span:last-child{
                                font-size: 14px;
                                font-weight: 600;
                                color: #3751FF;  
                                font-family: 'Poppins', sans-serif;
                            }
                        }
                        p{
                            color: #4B506D;
                            font-size: 12px;
                            font-weight: 400;
                            line-height: 16px;
                            font-family: 'Poppins', sans-serif;
                            span{
                                color:  #9FA2B4;
                            }
                            
                        }
                    }
                    .info-details{
                        padding: 14px 29px 12px 29px;
                        display: flex;
                        justify-content: space-between;
                        p{
                        font-size: 14px;
                        line-height: 20px;
                        font-family: 'Poppins', sans-serif;
                        }
                        span{
                            color: #9FA2B4;
                            font-size: 14px;
                        }
                    }
                }
                .activity{
                    height: 344px;
                    background: #fff;
                    border-radius: 15px;
                    padding: 26px 28px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .activity-title{
                        display: flex;
                        justify-content: space-between;
                        p{
                        font-size: 18px;
                        font-family: 'Poppins', sans-serif;
                        }
                        span{
                            color: #3751FF;
                            font-weight: 600;
                            font-family: 'Poppins', sans-serif;
                            font-family: Poppins;
                            font-size: 14px;
                            
                        }
                    }
.activity-check{
    display: flex;
    justify-content: space-between;
    align-items: center;
    div{
        display: flex;
        align-items: center;
        gap: 16px;
    }
    .check-info{
        background: #FEC400;
        text-align: center;
        color: #fff;
        text-transform: uppercase;
        font-family: 'Poppins', sans-serif;
        font-size: 11px;
        font-weight: 600;
        padding: 5px 12px;
        border-radius: 8px;
    }
    
    .default{
        background: #F0F1F7;
        
    }
     .new{
        background: #29CC97;

    }
}

                }
            }
            .right {
                width: 40%;
                height: 525px;
                background: rgba(234, 139, 139, 1);
                border-radius: 15px;
            }
    
        }
    }
  
}
